/* NOTE: */
/* This file is not actually used at all, I just moved the CSS into its own file for easier viewing */
/* Changes to this file will do nothing unless you copy it to the SVG */
#top {
    position: relative;
    animation: shootgun 4s infinite;
}

#Eyeball > * {
    position: relative;
    animation: moveeye 4s infinite;
}

#Muzzle_flare > * {
    display: inline;
    position: relative;
    animation: muzzleflare 4s infinite;
}

@keyframes shootgun {
    /* move the gun back and forth */
    /* first and last "transform (0px)" is needed to make sure the gun moves fast, it translates smoothly from the last known frame */
    34%   {transform: translate(0px);}
    35%   {transform: translate(15px);}
    36%   {transform: translate(0px);}

    44%   {transform: translate(0px);}
    45%   {transform: translate(15px);}
    46%   {transform: translate(0px);}

    54%   {transform: translate(0px);}
    55%   {transform: translate(15px);}
    56%   {transform: translate(0px);}

    64%   {transform: translate(0px);}
    65%   {transform: translate(15px);}
    66%   {transform: translate(0px);}

    74%   {transform: translate(0px);}
    75%   {transform: translate(15px);}
    76%   {transform: translate(0px);}

    84%   {transform: translate(0px);}
    85%   {transform: translate(15px);}
    86%   {transform: translate(0px);}
}

@keyframes moveeye {
    /* move eye left, then back to middle */
    0%   {transform: translate(0px);}
    10%  {transform: translate(30px);}
    15%  {transform: translate(0px);}

    /* move eye right, then back to middle */
    25%  {transform: translate(-18px, 5px);}
    30%  {transform: translate(0px);}

    /* do nothing for the remaining 70%, this is when the gun shoots */
}

@keyframes muzzleflare {
    /* start invisible so that the flare isn't always visible */
    0%    {opacity: 0;}

    /* each flare happens 2% faster than the gun moving, this just makes it look better */
    32%   {opacity: 0;}
    33%   {opacity: 1;}
    36%   {opacity: 0;}

    42%   {opacity: 0;}
    43%   {opacity: 1;}
    46%   {opacity: 0;}

    52%   {opacity: 0;}
    53%   {opacity: 1;}
    56%   {opacity: 0;}

    62%   {opacity: 0;}
    63%   {opacity: 1;}
    66%   {opacity: 0;}

    72%   {opacity: 0;}
    73%   {opacity: 1;}
    76%   {opacity: 0;}

    82%   {opacity: 0;}
    83%   {opacity: 1;}
    86%   {opacity: 0;}

    /* added this to prevent it from slowly becoming visible again */
    100%  {opacity: 0;}
}